html {
    margin : 0;
    padding : 0;
    width : 100vw;
    height : 100vh;
}

head {
    justify-content: center;
    align-items: center;
}

h1 {
    width : 100%;
    position: absolute;
    top : 40%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-color: grey;

    justify-content: center;
    align-items: center;
}

#start {
    position: absolute;
    width: 100%;
    top : 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: skyblue;
}