/* 배경화면 설정 */
body{
    background-color: bisque;

    display: flex;
    /* 중앙으로 정렬 */
    justify-content: center;
    align-items: center;
    /* 세로로 나열 */
    flex-direction: column;
}
/* 제목 글자 크기 및 여백 주기 */
.title{
    display: flex;
    margin: 30px 0 ;
    font-size: 50px;
    
}
/* 주,야간 변경해주는 버튼의 크기 및 위치 조정 */
.changebtn{
    position: absolute;
    top: 14%;
    right: 25%;
    font-size: 23px;
    font-weight: 600;
    padding: 10px 20px;
}
/* 할 일을 입력해주는 창과 + 버튼이 서로 옆에 있도록 설정 */
.addlist{
    display: flex;
}
/* + 버튼을 꾸며주기 */
.addbtn{
    background-color: darkblue;
    border-color: darkblue;
    color: aliceblue;
}
/* 마우스를 가져다 대면 색상 변하도록 설정 */
.addbtn:hover{
    background-color: cornflowerblue;
}

/* 할 일 리스트의 글자 부분과 휴지통 아이콘을 양 끝으로 보내고
   배경 색 주고 크기 설정 */
.todo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;

    /* 리스트 앞에 점 없애주기 */
    list-style: none;
    background-color: rgba(240, 248, 255, 0.37);
    width: 500px;
    height: 50px;

    border: 1px solid white;
}

/* 할 일 리스트 글자크기 및 굵기 설정 */
li{
    margin: 13px;
    font-size: 17px;
    font-weight: 650;
}
/* 아이콘 크기 및 여백 설정 */
i{
    margin: 10px;
    font-size: 23px;
}
/* 휴지통 버튼의 배경과 테두리를 없애줌 */
.textbtn{
    background: none;
    border: none;
}
/* 휴지통 버튼에 마우스를 가져다 대면 색상 변하도록 설정 */
.textbtn:hover{
    background-color: aliceblue;
}

/* clear all 버튼에 크기 및 색상 설정 */
.clearall{
    font-size: 15px;
    font-weight: 650;
    color: crimson;
    margin: 10px;
    padding: 10px 25px;
}