.navibar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#263343;
    padding:20px 100px; 
    /* 바 사이즈 설정하는 것 */
    font-family: 'Nanum Myeongjo', serif;
    
}
body{
    margin:0;
    background-color:lightgray;

}
.name span{
    text-decoration:None;
    font-size:30px;
    color:#d49466;
    font-family: 'Nanum Brush Script', cursive;
    /* font-weight:bold; */
    font-weight:bold;
}
.dologin{
    font-size:15px;
    color:black;
    

 }
 .dologin{
    display:flex;
    color:#d49466;
    list-style-type: none;
    padding-left:0;
    font-weight: bold ;
    
}


.dologin form{
    padding:8px 10px;
   

}

.doresist button{
    font-size:16px;
    top:100px;
    font-weight: bold ;
   

}

.dologin button{
    color:blue;
    background:black;
}

.dologin button:hover{
    color:white;
    background:#d49466;

}

.doresist button{
    color:blue;
    background:black;
}


.doresist button:hover{
    color:white;
    background:#d49466;
}
.doresist form button{
   
    bottom:100px;
    border-radius:10px;
    height:100px;
    width:100px;
}
i{
    color:green;
    font-size:100px;
}

.doresist form{
    display:flex;
    justify-content: space-between;
    
}

.name a i{
    font-size:80px;
}

.name span{
    color:white;
}
.writing{
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Nanum Myeongjo', serif; */
/* font-family: 'Oswald', sans-serif; */
    font-weight:bold;
    color:black;

}
figure {
    float: right;
    margin: 10px 10px 10px 10px;
  }

  .doresist i{
      color:white;
  }

  .navibar{
    border-style:solid;

  }

  
  .writing{
      padding:14px 50px;
      font-family: 'Nanum Brush Script', cursive;
      font-size:25px;
    
  }
  a{
    text-decoration:None;
    color:white;
    font-size:50px;
    font-weight:bold;
    font-family: 'Nanum Brush Script', cursive;
  }