.navibar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#263343;
    padding:20px 100px; 
    /* 바 사이즈 설정하는 것 */
    border-style:solid;
    
   
}

.navibar_logo a{
    font-size:24px;
    font-weight:bold;
}

.navibar_logo a i{
    color:#D49466;
    font-size:40px;
}

.navibar_logo{
   
    justify-content: space-between;
    font-family: 'Nanum Myeongjo', serif;

}

.navibar_menu{
    justify-content: space-between;
    align-items: center;
    display:flex;
    font-family: 'Nanum Myeongjo', serif;
    font-weight:bold;
    padding:20px 50px;
    padding-left:0px; 
    list-style-type: none;
 
 
}

.navibar_menu li{
    padding:5px 15px;
}

.correction{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold ;
    font-size:24px;
}

body{
    margin:0px;
    background-color:darkgray
    
}


.navibar_menu li:hover{
    background-color:#D49466;
    border-radius:4px;
}

/* .correction a:hover{
    border-radius:10px;
    background-color:#D49466;
} */
/* 이렇게 써도 먹힌다. a 태그에 hover tag */

a{
    text-decoration:None;
    color:white;
}
.navibar_togleBtn{
    position:absolute;
    right:40px;
    font-size:24px; 
    color:#d49466;
    display:none;
}
.company{
    font-weight: bold ;
    font-size:20px;
}





 
@media screen and (max-width:770px){
    /* 
    맨 바깥쪽에 있는 .navbar를 
    row에서 column으로 바꾼다
    */
    .navibar{
        flex-direction:column;
        /* 
        공간을 여유주기 위해서 padding
         */
         padding : 8px 24px;
    }



/* 메뉴 목록도 아래로 정렬되게 바꾼다 */
.navibar_menu{
    flex-direction:column; 

    align-items:center;
    /* width 적용을 하겠습니다. */

    width:100%;
/* 아이콘도 처음에 보여지지 않아야 한다  */
display:none;

}

.navibar_menu li{
    width:100%; 
    /* 전체를 다 갖게 해줘라 이런 뜻임
    자동으로 텍스트가 왼족으로 붙게 된다.
    text-align을 center로 해준다  */
     text-align:center;
}
/* .nav_icons 방향을 바꾸지 않은 상태(현상태)에서
중간으로 가도록 결정해준다
 */
 .navibar_icons{
     /* 지금 현재 축에서 중간으로 이동*/

     justify-content:center;

     /* 쪽을 전체로 설정해준다 */

    width:100%;
/* 아이콘도 처음에 보여지지 않아야 한다  */
display:none;
 }


/* 사이즈가 작아지면 햄버거빵이 보이게 한다 */

.navibar_togleBtn{
    display:block;
}


.navibar_menu.active,
.navibar_icons.active{
    display:flex;
}
}

.goal{
    font-size:30px;
    font-family: 'Nanum Brush Script', cursive;
    padding:40px 40px;
    display:flex;
    font-weight:bold;
}
figure {
    float: right;
    margin: 10px 10px 10px 10px;
  }

.goal3{
    font-size:70px;
}
.goal4{
    font-size:40px;
}