body{
    background-color:lightgrey;
}
.foresister{
    padding:10px 750px;
    background-color:#263343;
    font-size:40px;
    font-weight: bold ;
    border-style:solid;
    border-color:black;
}

.foresister i{
    
    color:green;
    font-size:40px;
}




.forresister h2{

    color:white;
}

.forresister h3{
    color:white;
}

body{
    margin:0;
}

.arrange{
    font-style:oblique;
    align-items: center;
    padding:10px 750px;
    font-weight: bold ;
}
.arrange h1{
    text-size:100px;
}

a{
    text-decoration:None;
    color:white;
}
